<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="style.css" rel="stylesheet" />
<div id="root"></div>
<script src="scripts.js"></script>

<style>
div {
  background-image: url('../img/Login.jpg');
  background-color: rgba(255,255,255,0.25);
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
}
</style>

<select class="browser-default">
  <option value="" disabled selected>Choose Category</option>
  <option value="1">Groceries</option>
  <option value="2">Electronics</option>
  <option value="3">Clothing</option>
  <option value="4">Education</option>
  <option value="5">Transport</option>
</select>

<input type="Double" id="Amount" name="Amount" placeholder="Amount $0.00" pattern="$[0-9]{2}.[0-9]{2}">
<input type="DateTime" id="Period" name="Period" placeholder="Period">
<button type="button" onclick="ClearFields();">Add</button>

<br>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .button {
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #003b70;
    border: none;
    border-radius: 20px;
  }

  .button:hover {
    background-color: #24ADE8;
  }

  .button:active {
    background-color: #003b70;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

</style>
<button class="button" onclick="LoadChart();">View My Budget</button>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="piechart" style="width: 500px; height: 500px;"></div>
